
#nprogress {
  background: #eeeeee;
  pointer-events: none;
  position: relative;
  border: 1px solid #c2c0c2;
  border-radius: 20px;
  height: 22px;
  overflow: hidden;
}
#nprogress .bar {
  background: rgb(232,230,232);
  background: -moz-linear-gradient(top,  rgba(232,230,232,1) 0px, rgba(209,207,209,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(232,230,232,1) 0px,rgba(209,207,209,1) 100%);
  background: linear-gradient(to bottom,  rgba(232,230,232,1) 0px,rgba(209,207,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e6e8', endColorstr='#d1cfd1',GradientType=0 );
  border-radius: 20px;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: relative;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
